.productSection {
  margin-top: -15rem;
  border-top: 15rem solid black;
  min-height: 100vh;
}

.productSection_wrapper {
  display: flex;
  justify-content: center;

  max-width: 120rem;
  margin: 5rem auto;
}

.productSection_text {
  padding: 10rem 8rem;
  font-size: 2rem;

  color: var(--primary-color-darker);
}

.productSection_text > * {
  margin-bottom: 1.5rem;
}

.productSection_text h2 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color-darker);
  display: inline-block;
  margin-left: -5px;
  color: var(--secondary-color);
}

.productSection_text p:first-of-type {
  font-size: 1.8rem;
}

.productSection_text p {
  font-size: 1.6rem;
}

.colors,
.sizes {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 0.5rem;
}

.colors li,
.sizes li {
  cursor: pointer;
}

.productSection_text button {
  margin-top: 4rem;
  padding: 1rem 5rem;
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  transition: 0.5s all;
}

.productSection_text button:hover,
.productSection_text button:active {
  color: var(--primary-color-darker);
  border: 1px solid var(--primary-color-darker);
}

.productSection_image {
  /* justify-content: flex-end; */

  /* box-shadow: inset -10px 0 20px -20px #000000; */

  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  height: 100vh - 30rem;
}

.carousel {
  overflow: hidden;
  width: 70%;
  position: relative;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 1s;
}

.arrowLeft {
  left: 10%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.arrowRight {
  right: 10%;
  top: 50%;
  transform: translate(50%, 50%);
}

.inner {
  transition: transform 1s;
  white-space: nowrap;

  height: 100%;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.carouselItem {
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carouselItem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dots {
  z-index: 98;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.dots ul {
  display: flex;
  align-items: center;
  gap: 5px;
  list-style: none;
}

.recommended_wrapper {
  max-width: 120rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 3rem;
}

.recommended_heading {
  margin-bottom: 3rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
}

.recommended_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* lg 1024px*/
@media (max-width: 64em) {
  .productSection {
    height: 100%;
  }
  .productSection_wrapper {
    margin-bottom: 0;
  }

  .productSection_text {
    padding: 8rem 6rem;
    font-size: 1.8rem;
  }

  .productSection_text button {
    margin-top: 4rem;
    padding: 0.9rem 5rem;
  }
}

/* lg 880px*/
@media (max-width: 55em) {
  .productSection_text {
    padding: 6rem 5rem;
    font-size: 1.7rem;
  }

  .productSection_text h2 {
    font-size: 2rem;
  }

  .productSection_text button {
    margin-top: 3rem;
    padding: 0.9rem 5rem;
  }
}

/* md 768px*/
@media (max-width: 48em) {
  .productSection {
    height: 150%;
  }
  .productSection_wrapper {
    display: block;
  }

  .productSection_image {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }

  .productSection_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

/* sm 640px*/
@media (max-width: 40em) {
  .recommended_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
  }
}

/* xs 475px*/
@media (max-width: 30em) {
  .productSection_text {
    padding: 4rem 5rem;
    font-size: 1.7rem;
  }

  .productSection_text button {
    margin-top: 1rem;
  }
}
