@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

:root {
  /* primary color */
  --primary-color-darker: #666666;
  --primary-color-dark: #999999;
  --primary-color: #cccccc;
  --primary-color-light: #ffffff;

  /* secondary colors */
  --secondary-color-darker: #000000;
  --secondary-color-dark: #1a1a1a;
  --secondary-color: #333333;
  --secondary-color-light: #4d4d4d;
  --secondary-color-lighter: #666666;

  --secondary-color-background: rgba(235, 243, 248, 0.708);

  --third-color-dark: #03182e;
  --third-color: #041e3a;
  --third-color-light: #364b61;

  --white-like-color: #eeeeee;
  --black-like-color: #222831;

  --black-color: #000;
  --white-color: #fff;
  --red-color-light: #983e3e;
  --red-color: #7e0e0e;
  --red-color-dark: #650b0b;
  --green-color-dark: #006600;
  --green-color: #008000;
  --green-color-light: #339933;

  /* fonts */
  --small-font: 1rem;
  --regular-font: 1.4rem;
  --medium-font: 1.9rem;
  --big-font: 2.8rem;
  --large-font: 3.9rem;
  --very-large-font: 5.65rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  overflow-x: hidden;
  /* height: 100vh; */
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
  position: relative;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button:focus,
a:focus {
  outline: none;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color-darker);

  transition: 0.2s all;
}

