.advertisment {
  margin-top: -4rem;
}

.wrapper {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  align-items: flex-start;
  opacity: 0.85;
}

.card {
  flex: 1;
  position: relative;
  max-height: 900px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.image img {
  display: block;
  min-width: 100%;
}

.text {
  position: absolute;
  font-size: 3.5rem;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--primary-color-light);
  text-align: center;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid var(--primary-color-light);
  cursor: pointer;
}

.text button {
  background: none;
  border: none;
  color: inherit;
  font-size: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* xl 1344px*/
@media (max-width: 84em) {
  .card {
    max-height: 640px;
  }
}

/* lg 1024px*/
@media (max-width: 64em) {
  .card {
    max-height: 550px;
  }

  .text {
    bottom: 6%;
    font-size: 2.6rem;

    padding-bottom: 2.5rem;
  }
}

/* md 912px*/
@media (max-width: 57em) {
  .card {
    max-height: 800px;
  }

  .wrapper {
    display: block;
    max-height: 100%;
  }

  .text {
    bottom: 0%;
    font-size: 3.6rem;
  }
}

/* sm 640px*/
@media (max-width: 40em) {
  .text {
    bottom: -3%;
    font-size: 3.6rem;
  }
}

/* xs 475px*/
@media (max-width: 30em) {
  .text {
    bottom: -3%;
    font-size: 2.6rem;
    width: 50rem;
  }

  .text button {
    margin-top: 2rem;
  }
}
