.section {
  margin-top: -15rem;
}

.wrapper {
  overflow: hidden;
  height: 80vh;
  position: relative;
}

.image {
  max-height: auto;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image img {
  max-height: 110%;
  min-height: 100vh;
  object-fit: cover;
}

.text {
  position: absolute;
  width: 50rem;
  font-size: 2rem;
  bottom: 20%;
  left: 50%;
  text-align: center;
  color: var(--primary-color-light);

  transform: translate(-50%, 50%);
}

.text h2 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

/* xl 1280px*/
@media (max-width: 80em) {
  .text {
    font-size: 2rem;
    bottom: 20%;
  }

  .text h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}

/* lg 1024px*/
@media (max-width: 64em) {
  .text h2 {
    font-size: 3rem;
  }

  .text {
    font-size: 1.8rem;
  }
}

/* md 768px*/
@media (max-width: 48em) {
}

/* sm 640px*/
@media (max-width: 40em) {
  .text {
    width: 40rem;
  }
}

/* xs 475px*/
@media (max-width: 30em) {
  .text h2 {
    font-size: 2.4rem;
  }
  .text {
    width: 30rem;
    font-size: 1.4rem;
  }
}
