.section {
  position: relative;
}

.wrapper {
  margin: 5rem auto;
  max-width: 100rem;
}

.wrapper h1 {
  width: 20rem;
  margin: 0 auto 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--secondary-color-light);
}

.clothesButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clothesButtons button {
  border: 1px solid var(--secondary-color-lighter);
  padding: 0 1rem;
  background: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}

.clothesButtons button:focus {
  font-weight: 500;
}

.filters {
  border: 1px solid var(--secondary-color-lighter);
  padding: 1rem;
  position: absolute;
  z-index: 98;
  background-color: var(--primary-color-light);
  color: var(--secondary-color-lighter);
  width: 30rem;
  display: grid;
  grid-template-rows: repeat(3, 20px);
  gap: 0.5rem;
}

.filters > * {
  color: var(--secondary-color-light);
}

.filters_btnBig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.filters_colors,
.filters_sizes {
  display: flex;
  gap: 0.5rem;
}

.filters_sizesBtn {
  border: none;
  background: none;
  color: var(--secondary-color-light);
  height: 20px;
  width: 20px;
}

.filters_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters_priceInput {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  column-gap: 2rem;
  row-gap: 5rem;
  margin-top: 2rem;
}
