.description {
  height: 100vh;
  color: var(--primary-color-darker);
}

.description_wrapper {
  /* max-width: 140rem; */
  margin: 10rem auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  overflow: hidden;
}

.description_image {
  width: 100%;
  display: block;
  padding-left: 10rem;
}

.description_text {
  padding: 30% 10rem;
}

.description_text h2 {
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--secondary-color-light);
}

.description_text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.description_text p:last-of-type {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--secondary-color-light);
}

.heritage_wrapper {
  max-width: 140rem;
  margin: 10rem auto;
  height: 100%;
  justify-content: center;

  /* overflow: hidden; */
}

.heritage_image {
  height: 600px;
  overflow: hidden;

  position: relative;
}
.heritage_imageTxt {
  position: absolute;
  font-size: 5rem;
  z-index: 98;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-color-light);
  font-size: 25rem;
  width: 100%;
  text-align: center;
}

.heritage_flexWrapper {
  display: flex;
}

.heritage_flexWrapper > * {
  flex: 1;
}

.heritage_attribute {
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;

  border-bottom: 1px solid var(--primary-color-darker);
}

.heritage_attribute {
  border-right: 1px solid var(--primary-color-darker);
}

.heritage_attribute:first-of-type {
  border-left: 1px solid var(--primary-color-darker);
}

.heritage_attribute h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.heritage_attribute p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.3;
  color: var(--primary-color-darker);
}

.heritage_history {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: auto auto;
  gap: 5rem;
}

.heritage_history > * {
  font-size: 2rem;
  line-height: 1.3;
  color: var(--secondary-color-light);
}

.heritage_history_heading {
  font-size: 10rem;
  background-color: var(--secondary-color-light);
  color: var(--primary-color-light);
  font-weight: 900;
  text-align: center;
  position: relative;
}

.heritage_history_heading::after {
  content: 'fake';
  position: absolute;
  top: 2%;
  left: -4%;
  font-size: 2rem;
  transform: rotate(-35deg);
  color: var(--third-color);
  background-color: var(--primary-color-light);
  padding: 0 3rem;
}

.workWithUs {
  height: 100vh;
  background-color: var(--third-color);
}

.workWithUs_wrapper {
  /* max-width: 140rem; */
  color: var(--primary-color-light);
  margin: 10rem auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  overflow: hidden;
}

.workWithUs_text {
  width: 70rem;
  margin: 30% auto;
}

.workWithUs_text_heading {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.workWithUs_text_paragraph {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.workWithUs_text_button {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  color: inherit;
  border: 1px solid var(--primary-color);

  transition: 0.5s all;
}

.workWithUs_text_button:hover {
  color: inherit;
  /* border: 1px solid var(--third-color); */
  background-color: var(--primary-color);
  color: var(--third-color-dark);
}

.workWithUs_text_button:active {
  transform: scale(0.98);
}
