@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  height: 9rem;

  font-size: 1.5rem;
  text-transform: uppercase;
}

.heading {
  font-size: 3.2rem;
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 1px;
}

.menu {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 40rem;
  background-color: var(--primary-color-light);
  z-index: 99;
  box-shadow: 5px 0px 20px 3px rgba(0, 0, 0, 0.249);

  padding: 3rem 5rem;
  font-size: 1.5rem;

  transition: all 0.5s;
}

.menu ul {
  list-style: none;
}
