.carousel {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin-top: -9rem;
}

.inner {
  transition: transform 3s;
  white-space: nowrap;

  height: 100%;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.carouselItem {
  max-height: 100%;
  min-height: 100vh;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carouselItem img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero_about {
  height: 100vh;
  margin-top: -9rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.3),
      rgba(36, 42, 46, 0.2)
    ),
    url('../../assets/Blue_pattern.webp');
  background-size: cover;
  background-position: center;

  position: relative;
}

.about_heading {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 2.5rem;
  color: var(--primary-color-light);
  width: 30%;
  text-align: center;
  line-height: 1.5;
}

.headingPrimary {
  margin-bottom: 10rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 2em;
}

.about_heading p,
.about_heading span {
  font-size: 2rem;
}

/* 2xl 1536px*/
@media (max-width: 96em) {
  .carouselItem img {
    /* min-width: 100vw; */
    max-height: 110%;
    min-height: 100vh;
  }
}

/* xl 1280px*/
@media (max-width: 80em) {
  .about_heading {
    font-size: 2.5rem;
    width: 42%;
    line-height: 1.5;
  }

  .headingPrimary {
    margin-bottom: 6rem;
    text-transform: uppercase;
  }
}

/* lg 1024px*/
@media (max-width: 64em) {
  .about_heading {
    font-size: 2.2rem;
    width: 52%;
    line-height: 1.5;
  }

  .headingPrimary {
    margin-bottom: 6rem;
    text-transform: uppercase;
  }
}

/* md 768px*/
@media (max-width: 48em) {
  .about_heading p,
  .about_heading span {
    font-size: 1.85rem;
  }

  .headingPrimary {
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

/* sm 640px*/
@media (max-width: 40em) {
  .about_heading {
    width: 72%;
  }

  .about_heading p,
  .about_heading span {
    font-size: 1.65rem;
  }

  .headingPrimary {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.8rem;
  }
}

/* xs 475px*/
@media (max-width: 30em) {
  .about_heading {
    width: 85%;
  }

  .about_heading p,
  .about_heading span {
    font-size: 1.5rem;
  }

  .headingPrimary {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.4rem;
  }
}
