.footer {
  background-color: var(--primary-color-light);
  font-size: 1.3rem;
}

.wrapper {
  border-bottom: 1px solid var(--primary-color-darker);
  padding: 5rem 0 10rem;
  max-width: 100rem;
  margin: 2rem auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.footer ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.column li {
  transition: color 0.5s;
}

.column li:hover {
  color: var(--primary-color-dark);
}

.column li:first-of-type {
  font-size: 2rem;
  font-weight: 600;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.github {
  text-align: center;
  padding: 3rem;
}
