@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.header {
  position: sticky;
  color: var(--primary-color-light);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  height: 9rem;

  font-size: 1.5rem;
  text-transform: uppercase;

  z-index: 99;
  border-bottom: 1px solid var(--primary-color);

  transition: all 1s;
}

.heading {
  font-size: 3.2rem;
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 2px;
}

.menu {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 40rem;
  background-color: var(--primary-color-light);
  z-index: 99;
  box-shadow: 5px 0px 20px 3px rgba(0, 0, 0, 0.249);
  color: var(--primary-color-darker);

  padding: 3rem 5rem;
  font-size: 1.5rem;

  transition: all 0.5s;
}

.menuNav {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.menuNav > * {
  cursor: pointer;
}

.menu button {
  background: none;
  border: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-left: 2rem;
}

.menu li {
  list-style: none;
  transition: transform 0.5s;
}

.menu li:hover {
  color: var(--primary-color-dark);
  transform: translate(2px);
}

.clothes {
  margin-bottom: 7rem;
}

.miscellaneous {
}
