@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.header {
  position: sticky;
  color: var(--primary-color-light);
  width: 100vw;
  display: grid;
  grid-template-columns: 150px auto 150px;
  align-items: center;
  padding: 0 5rem;
  height: 9rem;

  font-size: 1.5rem;
  text-transform: uppercase;

  z-index: 99;
  border-bottom: 1px solid var(--primary-color);

  transition: all 1s;
}

.heading {
  font-size: 3.2rem;
  font-family: 'Vina Sans', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.cartOpen_btn {
  position: relative;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  text-align: right;
}

.menu,
.cartModal {
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: var(--primary-color-light);
  z-index: 99;
  box-shadow: 5px 0px 20px 3px rgba(0, 0, 0, 0.249);
  color: var(--primary-color-darker);

  font-size: 1.5rem;
  width: 40rem;
  transition: all 0.5s;
}

.menu {
  padding: 3rem 5rem;
  left: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.menu .menuNav {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.menuNav > * {
  cursor: pointer;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin-left: 2rem;
}

.menu li {
  list-style: none;
  transition: transform 0.5s;
}

.menu li:hover {
  color: var(--primary-color-dark);
  transform: translate(2px);
}

.miscellaneous {
  justify-content: flex-end;
}

.cartModal {
  right: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.cartModal_Nav {
  display: flex;
  padding: 3rem 3rem 1rem;
  justify-content: space-between;
}

.cartModal_Nav h2 {
  margin-bottom: 3rem;
}

.emptycart {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  text-align: center;
}

.emptycart h4 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--primary-color-darker);
}

.emptycart p {
  width: 60%;
  margin: 0 auto;
  color: var(--primary-color-dark);
}

.cartModal_gallery {
  list-style: none;
  padding: 0 3rem;
  margin-bottom: auto;
  overflow-y: auto;
  height: 100%;
}

.cartModal ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.popup {
  position: absolute;
  top: 10rem;
  right: 3rem;
  padding: 1rem 2rem;
  color: var(--secondary-color-lighter);
  display: flex;
  flex-direction: column;
  width: 40rem;

  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.162);
  z-index: 99;
  background-color: var(--primary-color-light);
}

.popup li {
  list-style: none;
}

.popup_heading {
  margin-bottom: 2rem;
  text-align: center;
}

.popup_btn {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;

  background-color: var(--secondary-color);
  color: var(--primary-color-light);

  transition: 0.5s all;
}

/* xl 1280px*/
@media (max-width: 80em) {
  .header {
    color: black;

    background-color: white;
  }
}

/* md 768px*/
@media (max-width: 48em) {
  .header {
    font-size: 1.4rem;
    padding: 0 3rem;
  }

  .heading {
    font-size: 2.5rem;

    letter-spacing: 2.1px;
  }
}

/* sm 640px*/
@media (max-width: 40em) {
  .header {
    font-size: 1.2rem;
    padding: 0 2rem;
    grid-template-columns: 100px auto 100px;
  }

  .heading {
    font-size: 2.2rem;

    letter-spacing: 2.2px;
  }

  .menu,
  .cartModal {
    font-size: 1.5rem;
    width: 60%;
    transition: all 0.5s;
  }

  .cartModal_Nav h2 {
    font-size: 1.9rem;
  }
}

/* xs 560px*/
@media (max-width: 35em) {
  .header {
    font-size: 1rem;
    padding: 0 1rem;
    grid-template-columns: 100px auto 100px;
  }

  .heading {
    font-size: 2rem;

    letter-spacing: 2px;
  }

  .menu,
  .cartModal {
    font-size: 1.5rem;
    width: 100vw;
    transition: all 0.5s;
  }

  .menu ul {
    text-align: center;
    align-items: center;
    margin-left: 0;
    font-size: 110%;
  }
}
