.text {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.text h3 {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0.4rem;
}

.card_image {
  overflow: hidden;
  position: relative;
}

/* sm 640px*/
@media (max-width: 40em) {
  .text {
    font-size: 1rem;
  }
}

/* xs 475px*/
@media (max-width: 30em) {
  .text {
    font-size: 0.8rem;
  }
}
